.main{
  background-color: #D94BDC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 30%;
  color: rgb(245, 229, 229);
  height: 100vh;
}

.myButton{
  width: 5rem;
  height: 3rem;
background-color: "whitesmoke";
margin: 5% 0;
}
.myLabel {
display: block;
font-size: 2rem;
font-style: italic;
} 
input.myInput{
width: 8rem;
height: 2rem,
}
form.myForm{
  min-width: 450px;
background-color: whitesmoke;
position: relative;
text-align: center;
align-items: center;
align-self: center;
padding: 2vmin;
border-radius: 10px;
}
button.saveButton{
background:#D94BDC;;
color: #fff;
}
.viewBtn{
height: 35px;
left: 27%;
top: 50%;
background: #FFFFFF;
border: 3px solid #D94BDC;
box-sizing: border-box;
border-radius: 10px;
text-align: center;
color: #D94BDC;
}
.buttonsContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
