
    .myButton{
        width: 5rem;
        height: 2rem;
    background-color: "whitesmoke";
    margin: 5% 0;
  }
  .myLabel {
      display: block;
      font-size: 2rem;
    font-style: italic;
  } 
  .myInput{
    width: 8rem;
    height: 2rem,
  }
  .myForm{
      position: relative;
      transform: translate(50%, 50%),
  }

